// Comdirect customization
// --------------------------------------------------
//
// Primary Colors
$primary-color            : #fff500;

$color-gray-light         : #efefef;

$shadow-base              : 0 0 2px 1px darken($color-gray-light, 10%);
$border-radius-base       : 0px;

$btn-text-weight          : 600;
$btn-text-size            : 1.125rem;