@font-face {
  font-family: "MarkOffcPro";
  src: url("/assets/font/MarkOffcPro.ttf") format("truetype")
}

@font-face {
  font-family: "MarkOffcPro Bold";
  src: url("/assets/font/MarkOffcPro-Bold.ttf") format("truetype")
}

@font-face {
  font-family: "MarkOffcPro Medium";
  src: url("/assets/font/MarkOffcPro-Medium.ttf") format("truetype")
}