<div>
  <support-footer ng-if="vm.showSupport"></support-footer>
  <div class="app-footer">
    <div class="footer__wrapper hidden-print">
          <footer class="hidden-print">
            <div class="container">
                <div class="grid grid--noGutter">
                    <div class="col">
                    <span class="header-brand image-logo"></span>
                    </div>
                    <!--<div class="col-4 col--sm-4 col--icon">
                        <div class="social-icon-bar">
                            <a href="http://www.facebook.com/comdirect" target="_blank" class="{at:{pageId:'coai2494'}}">
                              <span class="icon icon--cd_social-facebook-32 icon--size-32">
                                <svg class="icon__svg">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.comdirect.de/ccf2/lsg/assets/svg/svg-symbol.svg#cd_social-facebook-32"></use>
                                </svg>
                              </span>
                            </a>
                            <a href="http://twitter.com/comdirect" target="_blank" class="{at:{pageId:'coai2495'}}">
                              <span class="icon icon--cd_social-twitter-32 icon--size-32">
                                <svg class="icon__svg">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.comdirect.de/ccf2/lsg/assets/svg/svg-symbol.svg#cd_social-twitter-32"></use>
                                </svg>
                              </span>
                            </a>
                            <a href="http://www.youtube.com/comdirect" target="_blank" class="{at:{pageId:'coai2496'}}">
                              <span class="icon icon--cd_social-youtube-32 icon--size-32">
                                <svg class="icon__svg">
                                   <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.comdirect.de/ccf2/lsg/assets/svg/svg-symbol.svg#cd_social-youtube-32"></use>
                                </svg>
                             </span>
                            </a>
                        </div>
                    </div>-->
                    <div
                      ng-if="vm.showLinks"
                      class="col col-12">
                        <div class="footer__nav level-1 clearfix">
                            <ul>
                                <li><a class="{at:{pageId:'coai0826'}}" target="_blank" href="https://www.comdirect.de/cms/ueberuns/de/unternehmen/index.html">Unternehmen</a></li>
                                <li><a class="{at:{pageId:'coai1120'}}" target="_blank" href="https://www.comdirect.de/cms/ueberuns/de/presse/presse.html">Presse</a></li>
                                <li><a class="{at:{pageId:'coai1274'}}" target="_blank" href="https://www.comdirect.de/cms/ueberuns/de/karriere/karriere.html">Karriere</a></li>
                                <li><a class="{at:{pageId:'coai2490'}}" target="_blank" href="https://www.comdirect.dehttps://community.comdirect.de">Community</a></li>
                                <li><a class="{at:{pageId:'coai2498'}}" target="_blank" href="https://www.comdirect.de/cms/service-kontakt-mobile.html">Apps</a></li>
                                <li><a class="{at:{pageId:'coai1121'}}" target="_blank" href="https://www.comdirect.de/cms/ueberuns/de/investorrelations/index.html">Investor Relations</a></li>
                                <li><a class="{at:{pageId:'coai1450'}}" target="_blank" href="https://www.comdirect.de/cp/routing">Mobile Website</a></li>
                           </ul>
                        </div>
                        <div class="footer__nav level-2 clearfix">
                            <ul>
                                <li><a class="{at:{pageId:'coai1113'}}" target="_blank" href="https://www.comdirect.de/cms/service-kontakt-impressum.html">Impressum</a></li>
                                <li><a class="{at:{pageId:'coai1114'}}" target="_blank" href="https://www.comdirect.de/cms/sicherheit-datenschutz.html">Datenschutz</a></li>
                                <li><a class="{at:{pageId:'coai1115'}}" target="_blank" href="https://www.comdirect.de/cms/service-kontakt-kontosicherheit.html">Sicherheit</a></li>
                                <li><a class="{at:{pageId:'coai1116'}}" target="_blank" href="https://www.comdirect.de/cms/service-kontakt-nutzungsbedingungen.html">Nutzungsbedingungen</a></li>
                                <li><a class="{at:{pageId:'coai1117'}}" target="_blank" href="https://www.comdirect.de/pbl/ePdfTracker.do?ePageId=cori6762">AGB</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
     </div>
  </div>
</div>
