<div class="container flex-center padding-vert-base">
    
  <loading
    fullscreen="true"
    ng-if="vm.userBusy">
  </loading>

  <form 
    class="small-container"
    name="vm.userForm"
    novalidate>

    <div ng-if="!vm.userCostsFinished" class="animate-if fly-in">
      <costs 
        form="vm.userForm"
        model="vm.userModel"
        on-finish="vm.userEnteredCosts()">
      </costs>
    </div>

    <div ng-if="vm.showConfigurator" class="animate-if fly-in">
      <configurator
        form="vm.userForm"
        model="vm.userModel"
        action="vm.searchCheaperRates()">
        <div 
          class="padding-bottom-base text-gray"
          translate="user.configurator">
        </div>
      </configurator>
    </div>

  </form>
</div>
