<div class="flex-column text-center">
  <div class="flex-row-centered row-text">
    <div class="flex-item">
      <h1>Vielen Dank fürs Wechseln!</h1>
    </div>
  </div>
  <div class="flex-row-centered row-image">
    <div class="flex-item">
      <i class="fa fa-thumbs-o-up fa-5x img-circle img-responsive center-block"></i>
    </div>
  </div>
  <div class="flex-row-centered row-text">
    <div class="flex-item">
      <h2>Sie haben Ihren neuen Tarif erfolgreich abgeschlossen.</h2>
    </div>
  </div>
  <div class="flex-row-centered row-text-no-padding-top">
    <div class="flex-item">
      <h3>Den Rest erledigen wir für Sie:</h3>
    </div>
  </div>

  <div class="flex-row-space_around row-steps">
    <div class="flex-item-narrow" >
      <i class="fa fa-envelope-o fa-3x"></i>
      <h3>1. Bestätigung</h3>
      <h5>
        Sie erhalten in wenigen Minuten eine Bestätigung an Ihre E-Mail-Adresse.
      </h5>
    </div>
    <div class="flex-item-narrow">
      <i class="fa fa-clock-o fa-3x"></i>
      <h3>2. Kündigung</h3>
      <h5>
        Die Kündigung bei Ihrem aktuellen Anbieter wird innerhalb von 14 Tagen durchgeführt.
      </h5>
    </div>
    <div class="flex-item-narrow">
      <i class="fa fa-list-alt fa-3x"></i>
      <h3>3. Wechsel</h3>
      <h5>
        Der Wechsel zu Ihrem neuen Anbieter ist in ca. drei Wochen abgeschlossen.
      </h5>
    </div>
  </div>
</div>
